<div class="newsletter bg-blue-100 flex flex-col p-5 justify-center items-center">
    <div class="title p-1 mb-2 text-2xl font-bold">
        <h2 for="title">Join Our Newsletter</h2>
    </div>
    <div class="label p-1 mb-2">
        <label for="desc">Get the Olympiad updates and much more right in your inbox</label>
    </div>
    <form class="subscribe flex mb-4 ">
        <div class="input  shadow p-1 bg-white">
            <input class="p-2 mr-0.5 border" type="text" placeholder="Name(Optional)">
        <input class="p-2 ml-0.5 border" type="email" placeholder="Email">
        </div>
        <button type="submit" class="bg-blue-500 shadow transition-all hover:bg-blue-800 text-white min-w-32 p-2"> Subscribe</button>
    </form>
</div>