<div class="footer flex justify-around">
    <div class="section1 p-3">
        <h2 class="font-bold text-2xl p-2">Springfield</h2>
        <label class="max-w-72 text-gray-600 text-wrap p-2" for="desc">
            Springfield Olympiads is an Educational Organization popularizing academic competition and assisting the
            development of competitive spirit among learners.
        </label>
        <div class="contact p-2">
            <div class="whatsapp">
                <label class="text-gray-600 font-bold mr-1" >WhatsApp:</label>
            <a class="p-2" class="text-blue-600" href="https://api.whatsapp.com/send?phone=916230345161">+91-623045161</a>
            </div>
            <div class="email">
                <label class="text-gray-600 font-bold mr-1">Email:</label>
            <a class="p-2" class="text-blue-600" href="info@sfoly.com">info&#64;sfoly.com</a>
            </div>
        </div>
    </div>
    <div class="section2 p-3">
        <h4 class="font-bold text-xl p-2">Useful Links</h4>
            <ul class="text-gray-600 hover:text-blue-500">
                <li>
                    <a class="p-2"  href="https://sfoly.com/home">Home</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/about">About us</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/student-registration">Student Registration</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/institute-registration">Institute Registration</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/faqs">FAQ's</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/contact">Contact Us</a>
                </li>
            </ul>
    </div>
    <div class="section3 p-3">
        <h4 class="font-bold text-xl p-2">Our Olympiads</h4>
            <ul class="text-gray-600 hover:text-blue-500">
                <li>
                    <a class="p-2"  href="https://sfoly.com/olympiad/siso">SISO</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/olympiad/simo">SIMO</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/olympiad/sieo">SIEO</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/olympiad/sico">SICO</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/olympiad/grads-olympiad">Grads Olympiad</a>
                </li>
                <li>
                    <a class="p-2" href="https://sfoly.com/olympiad/finance-olympiad">Finance Olympiad</a>
                </li>
            </ul>
    </div>
    <div class="section4 text-xl font-bold p-3">
        <h4 class="p-2">Our Social Networks</h4>
        <div class="social-links">
            <button class="p-2 "><img src="../../../assets/facebook.svg" alt="facebook"></button>
            <button class="p-2 "><img src="../../../assets/linkedin.svg" alt="linkedin"></button>
            <button class="p-2 "><img src="../../../assets/instagram.svg" alt="instagram"></button>
        </div>
    </div>
</div>

