<div class="pricing flex flex-col items-center m-12">
    <div class="tag p-3">
        <label class="bg-blue-100 text-blue-500 font-bold rounded-2xl p-1.5 font-mono">Pricing</label>
    </div>
    <div class="label">
        <label class="text-black text-4xl font-bold">Check Our</label>
        <label class="text-blue-500 text-4xl font-bold ml-2">Pricing</label>
    </div>
    <div class="cards flex  justify-center w-full">
        <div class="batch1 lg:flex lg:ml-48">
            <div class="card1 rounded-sm shadow-md m-3 lg:min-w-1/4 flex flex-col">
                <h3 class="label p-3  text-center bg-gray-100 text-gray-500 font-bold text-xl ">
                    Any One
                </h3>
                <div class="price text-center p-3">
                    <h4 class="amount mt-2">
                        <sup class="text-blue-500 font-extrabold text-xl">₹</sup>
                        <label class="text-blue-500 font-extrabold text-3xl">249</label>
                        <span class="line-through text-gray-400">₹300</span>
                    </h4>
                    <div class="desc tracking-widest  p-3">
                        Participate in any one
                        of the four Olympiads
                        of your choice.
                    </div>
                </div>
                <div class="register-now p-3 flex justify-center bg-gray-100">
                    <button class="bg-blue-500 p-2 min-w-44 rounded-md text-white font-bold"> Register Now</button>
                </div>
            </div>
            <div class="card2 rounded-sm shadow-md lg:min-w-1/4 m-3">
                <h3 class="label p-3  text-center bg-blue-500 text-white font-bold text-xl ">
                    Any Two
                </h3>
                <div class="price text-center p-3">
                    <h4 class="amount mt-2">
                        <sup class="text-blue-500 font-extrabold text-xl">₹</sup>
                        <label class="text-blue-500 font-extrabold text-3xl">449</label>
                        <span class="line-through text-gray-400">₹600</span>
                    </h4>
                    <div class="desc tracking-widest  p-3">
                        Participate in any one
                        of the four Olympiads
                        of your choice.
                    </div>
                </div>
                <div class="register-now p-3 flex justify-center bg-gray-100">
                    <button class="bg-blue-500 p-2 min-w-44 rounded-md text-white font-bold"> Register Now</button>
                </div>
            </div>
        </div>
        <div class="batch2 lg:flex lg:mr-48">
            <div class="card3 rounded-sm shadow-md lg:min-w-1/4 m-3">
                <h3 class="label p-3  text-center bg-gray-100 text-gray-500 font-bold text-xl ">
                    Any Three
                </h3>
                <div class="price text-center p-3">
                    <h4 class="amount mt-2">
                        <sup class="text-blue-500 font-extrabold text-xl">₹</sup>
                        <label class="text-blue-500 font-extrabold text-3xl">839</label>
                        <span class="line-through text-gray-400">₹1200</span>
                    </h4>
                    <div class="desc tracking-widest  p-3">
                        Participate in any one
                        of the four Olympiads
                        at great price.
                    </div>
                </div>
                <div class="register-now p-3 flex justify-center bg-gray-100">
                    <button class="bg-blue-500 p-2 min-w-44 rounded-md text-white font-bold"> Register Now</button>
                </div>
            </div>
            <div class="card4 rounded-sm shadow-md m-3 lg:min-w-1/4">
                <h3 class="label p-3  text-center bg-gray-100 text-gray-500 font-bold text-xl  ">
                    All
                </h3>
                <div class="price text-center p-3">
                    <h4 class="amount mt-2">
                        <sup class="text-blue-500 font-extrabold text-xl">₹</sup>
                        <label class="text-blue-500 font-extrabold text-3xl">249</label>
                        <span class="line-through text-gray-400">₹300</span>
                    </h4>
                    <div class="desc tracking-widest  p-3">
                        Participate in any one
                        of the four Olympiads
                        of your choice.
                    </div>
                </div>
                <div class="register-now p-3 flex justify-center bg-gray-100">
                    <button class="bg-blue-500 p-2 min-w-44 rounded-md text-white font-bold"> Register Now</button>
                </div>
            </div>
        </div>
    </div>
</div>